Repository Hack23/cia, changes with the labels that .github/labeler.yml gives for each.
All labels: feature, enhancement, political-analysis, party-data, committee, government, analytics, visualization, database, ui, infrastructure, performance, refactor, testing, security, documentation, dependencies, build, bug

Refactor menu factory implementations to use constants (#7158)
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/common/menufactory/api/pagecommands/PageCommandCommitteeConstants.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/common/menufactory/api/pagecommands/PageCommandMainViewConstants.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/common/menufactory/api/pagecommands/PageCommandMinistryConstants.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/common/menufactory/api/pagecommands/PageCommandPartyConstants.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/common/menufactory/api/pagecommands/PageCommandPoliticianConstants.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/common/menufactory/impl/CommitteeMenuItemFactoryImpl.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/common/menufactory/impl/MinistryMenuItemFactoryImpl.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/common/menufactory/impl/PartyMenuItemFactoryImpl.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/common/menufactory/impl/PoliticianMenuItemFactoryImpl.java
Labels: analytics, ui

Add missing package-info.java files with descriptive Javadoc
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/common/chartfactory/package-info.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/common/dataseriesfactory/package-info.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/common/formfactory/package-info.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/common/gridfactory/package-info.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/common/menufactory/api/pagecommands/package-info.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/common/menufactory/api/text/package-info.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/common/menufactory/package-info.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/common/pagelinks/package-info.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/package-info.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/pageclicklisteners/handlers/package-info.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/pageclicklisteners/package-info.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/user/docsearch/package-info.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/user/docsearch/pagemode/package-info.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/user/documents/package-info.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/user/documents/pagemode/package-info.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/user/package-info.java
Labels: analytics, ui, documentation

remove labeller
  .github/workflows/codeql-analysis.yml
Labels: infrastructure, build

Create labeller.yml
  .github/workflows/labeller.yml
Labels: infrastructure, build

Add missing package-info.java files with descriptive Javadoc (#7160)
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/common/chartfactory/package-info.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/common/dataseriesfactory/package-info.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/common/formfactory/package-info.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/common/gridfactory/package-info.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/common/menufactory/api/pagecommands/package-info.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/common/menufactory/api/text/package-info.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/common/menufactory/package-info.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/common/pagelinks/package-info.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/package-info.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/pageclicklisteners/handlers/package-info.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/pageclicklisteners/package-info.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/user/docsearch/package-info.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/user/docsearch/pagemode/package-info.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/user/documents/package-info.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/user/documents/pagemode/package-info.java
  citizen-intelligence-agency/src/main/java/com/hack23/cia/web/impl/ui/application/views/user/package-info.java
Labels: analytics, ui, documentation

remove labeller (#7161)
  .github/workflows/codeql-analysis.yml
  .github/workflows/labeller.yml
Labels: infrastructure, build

[StepSecurity] Apply security best practices
  .github/dependabot.yml
  .github/workflows/labeller.yml
  .github/workflows/release.yml
Labels: infrastructure, build

Rename labeller.yml to labeler.yml
  .github/workflows/labeler.yml
Labels: infrastructure, build

Rename labeller.yml to labeler.yml (#7164)
  .github/workflows/labeler.yml
Labels: infrastructure, build

Rename labeller.yml to labeler.yml
  .github/workflows/labeler.yml
Labels: infrastructure, build

Update labeler.yml
  .github/workflows/labeler.yml
Labels: infrastructure, build

Update labeler.yml (#7165)
  .github/workflows/labeler.yml
Labels: infrastructure, build

[StepSecurity] Apply security best practices (#7163)
  .github/dependabot.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
Labels: infrastructure, build

Update labeler.yml
  .github/workflows/labeler.yml
Labels: infrastructure, build

Update labeler.yml (#7168)
  .github/workflows/labeler.yml
Labels: infrastructure, build

.github/labeler.yml:

# Primary Feature Categories
feature:
  - changed-files:
      any-glob-to-any-file:
        - 'feat:**'
        - 'feature:**'
        - '**/feature/**'
        - '**/features/**'

enhancement:
  - changed-files:
      any-glob-to-any-file:
        - 'enhance:**'
        - 'improvement:**'
        - '**/enhancement/**'

# Political Analysis
political-analysis:
  - changed-files:
      any-glob-to-any-file:
        - '**/political/**'
        - '**/analysis/**'
        - '**/dashboard/**'
        - '**/scoreboard/**'
        - '**/riksdagen/**'
        - '**/parliament/**'

party-data:
  - changed-files:
      any-glob-to-any-file:
        - '**/party/**'
        - '**/parties/**'
        - '**/political-party/**'

committee:
  - changed-files:
      any-glob-to-any-file:
        - '**/committee/**'
        - '**/committees/**'
        - '**/decision/**'

government:
  - changed-files:
      any-glob-to-any-file:
        - '**/government/**'
        - '**/ministry/**'
        - '**/minister/**'

# Analytics & Data
analytics:
  - changed-files:
      any-glob-to-any-file:
        - '**/analytics/**'
        - '**/views/**'
        - '**/reporting/**'
        - '**/metrics/**'
        - '**/statistics/**'

visualization:
  - changed-files:
      any-glob-to-any-file:
        - '**/charts/**'
        - '**/visualization/**'
        - '**/graph/**'
        - '**/dashboard/**'

database:
  - changed-files:
      any-glob-to-any-file:
        - '**/db/**'
        - '**/sql/**'
        - '**/database/**'
        - '**/jpa/**'
        - '**/hibernate/**'

# UI/UX
ui:
  - changed-files:
      any-glob-to-any-file:
        - '**/ui/**'
        - '**/view/**'
        - '**/form/**'
        - '**/*.css'
        - '**/layout/**'
        - '**/grid/**'

# Infrastructure
infrastructure:
  - changed-files:
      any-glob-to-any-file:
        - '**/cloudformation/**'
        - '**/deploy/**'
        - '**/*.json'
        - '**/config/**'
        - '**/postgres/**'
        - '**/.github/**'

performance:
  - changed-files:
      any-glob-to-any-file:
        - '**/performance/**'
        - '**/optimization/**'
        - '**/cache/**'
        - '**/index/**'

# Code Quality
refactor:
  - changed-files:
      any-glob-to-any-file:
        - 'refactor:**'
        - '**/refactor/**'
        - '**/cleanup/**'

testing:
  - changed-files:
      any-glob-to-any-file:
        - '**/test/**'
        - '**/*Test.java'
        - '**/junit/**'
        - '**/testing/**'

# Security
security:
  - changed-files:
      any-glob-to-any-file:
        - '**/security/**'
        - '**/auth/**'
        - '**/authentication/**'
        - '**/authorization/**'
        - '**/permission/**'
        - '**/compliance/**'

# Documentation
documentation:
  - changed-files:
      any-glob-to-any-file:
        - '**/*.md'
        - '**/docs/**'
        - '**/javadoc/**'
        - '**/package-info.java'
        - '**/module-info.java'
        - '**/documentation/**'

# Dependencies
dependencies:
  - changed-files:
      any-glob-to-any-file:
        - 'build(deps):**'
        - '**/pom.xml'
        - '**/dependencies/**'
        - '**/dependency/**'

# Build & CI
build:
  - changed-files:
      any-glob-to-any-file:
        - '.github/workflows/**'
        - '**/Dockerfile'
        - '**/docker/**'
        - '**/ci/**'
        - '**/cd/**'
        - 'pom.xml'

# Bug Fixes
bug:
  - changed-files:
      any-glob-to-any-file:
        - 'fix:**'
        - 'bug:**'
        - '**/bugfix/**'
        - '**/fix/**'
